@font-face {
    font-family: 'Kenyan Coffee';
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/kenyan-coffee.regular.ttf) format('truetype');
}

body,
html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Kenyan Coffee';
    font-size: 32px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.0em;
    display: grid;
    grid-template-columns: 30% auto;
}

.container a {
    color: white;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}